@model IEnumerable<ECommerce.Models.AddItemModel>

@{
    ViewBag.Title = "EditItems";
}

<h2>EditItems</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <button type="submit" class="btn btn-primary btn-sm btn-small btn_edit" value="@item.ItemId">Edit</button>
        </td>
    </tr>
}

</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(".btn_edit").click(function () {
        var Item = $(this).val();
        window.location.href = '@Url.Action("EditIndividualItems", "Items")?ItemId='+encodeURIComponent(Item);
    })
</script>